.cards-container {
	text-align: center;
	padding: 2rem;

	h2 {
		margin-bottom: 2rem;
	}

	.cards-wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr); 
		gap: 1.5rem;
		justify-items: center;

		@media (max-width: 1000px) {
			grid-template-columns: repeat(2, 1fr); 
		}

		@media (max-width: 700px) {
			grid-template-columns: 1fr; 
		}
	}

	.card {
		background: transparent;
		border-radius: 0;
		overflow: hidden;
		text-align: center;
		width: 100%;
		max-width: 360px;
		&:hover {
			cursor: pointer;
		}

		img {
			width: 100%;
			height: 300px;
			object-fit: cover;

			@media (max-width: 700px) {
				height: 200px;
			}
		}

		h3 {
			margin: 0.5rem 0;
			font-size: 1.2rem;
		}

		p {
			padding: 0 1rem 1rem;
			font-size: 0.95rem;
			color: #fff;
			text-align: center;
		}
	}
}

.cards-thumbs {
	padding: 20px 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	justify-content: space-evenly;
	width: 100%; 

	.skeleton {
		width: 100%;
		max-width: 300px; 
		height: 300px;    
		border-radius: 5px; 
	}

	// Tablet
	@media (max-width: 1000px) {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		grid-template-columns: repeat(2, 1fr); 
	}

	// Mobile
	@media (max-width: 480px) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		grid-template-columns: 1fr;          
		.skeleton {
			width: 90%;                      
			height: 300px;
		}
	}
}
