@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Work+Sans:wght@300;400;500;600&display=swap');

body {
	font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Montserrat', sans-serif;
}