.gallery-container {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	padding: 20px;
	flex-wrap: wrap;
}

.gallery-column {
	&.left-column {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 250px;
		gap: 10px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;

			&:first-child {
				grid-row: span 2;
			}
		}
	}
	&.right-column {
		display: flex;
		flex-direction: column;
		gap: 15px;
		flex: 0 0 30%;
		h2 {
			text-transform: uppercase;
		}
		p {
			&.block-description {
				margin-bottom: 20px;
			}
			&.ins-description {
				font-size: 20px;
				font-weight: bold;
			}
		}
		hr { margin: 10px 0; }
		h5 {
			color: red;
			text-transform: uppercase;
		}
	}
}

@media (max-width: 930px) and (min-width: 769px) {
	.gallery-column.right-column {
		flex: 0 0 100%;
	}
	.gallery-column.left-column {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 300px;
	}
}

@media (max-width: 768px) and (min-width: 481px) {
	.gallery-container {
		flex-direction: row;
		align-items: flex-start;
	}

	.gallery-column.left-column {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 300px;
	}
	.gallery-column.right-column {
		flex: 0 0 100%;
	}
}

@media (max-width: 480px) {
	.gallery-container {
		flex-direction: column;
		align-items: stretch;
		padding: 0px;
	}

	.gallery-column.right-column {
		order: 1;
	}

	.gallery-column.left-column {
		order: 2;
	}

	.gallery-column.left-column {
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
	}

	.gallery-column.right-column {
		flex: 0 0 100%;
	}
}