/* ==============================
Variables
============================== */
:root {
	--primary-color: #4f46e5;
	--secondary-color: #facc15;
	--font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--base-spacing: 1rem;
	--border-radius: 0.5rem;
}

/* ==============================
Global Reset / Base Styles
============================== */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	background-color: #0e1316;
	color: #fff;
	line-height: 1.6;
}

/* ==============================
Layout Helpers
============================== */
.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: var(--base-spacing);
	@media (max-width: 480px) {
		padding-left: 25px;
		padding-right: 25px;
	}
}

#app {
	padding-top: 30px;
	padding-bottom: 30px;
}
